// #portfolio-modal{
//     max-height: 50vh;
//     background-color: red !important;
// }

.chakra-modal__content{
    max-width:600px;
    max-height:50vh;
    // overflow-y: scroll;
    // small screens
    @media screen and (max-width:768px){
        max-width:80vw !important;
        max-height:80vh !important;
    }
}