#portfolio-container{
    margin:0;
    @media screen and (min-width:768px) {
        max-width: 80vw;
    }
    @media screen and (min-width:1200px) {
        max-width: 67vw;
    }

    .card{
        background:red;
        padding:10em;
    }

    h1{
        width:100%;
        // text-align: left !important;
    }
}
.link-container{
    width:100%;
    text-align: center;
}

.space-evenly{
    justify-content: space-evenly;
}

.button-row{
    max-width:80vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-button{
    margin:.25rem;
}


