@import '../../Colors.scss';

// #about-container{
//     @media screen and (min-width:768px) {
//         // max-width:80vw;
//     }
//     // align-content: center;
//     // background-color: red;
// }

.about-pic{
    object-fit:contain;

    @media only screen and (max-width:768px){
        // width:33vw;
        height:15rem !important;
        // background:blue;
        margin:auto;
        // margin-bottom:5rem;
    }
    @media only screen and (min-width:768px){
        width:33vw;
        max-width:20rem;
    }
    // align-self: flex-start;
    border-radius:25px;
    // box-shadow: 0 0 0 0.5rem $backgroundColor, 0 0 0 1rem $font-color;

    // transform: translateY(1rem);
}

#about-text{
    font-size: medium;
    text-align: left;
    max-width:25rem;
    @media screen and (min-width:768px) {
        margin-left: 2rem;
        // transform:translateX(2rem)
    }
    // @media screen and (min-width:1200px) {
    //     // transform:translateX(-20px)
    //     margin-left: 5rem;
    // }

    br{
        height:.25rem
    }
}

// @keyframes fadeInOutHold {
//     0% { opacity: 0; }
//     20% { opacity: 1; }
//     80% { opacity: 1; }
//     100% { opacity: 0; }
//   }