// @import '../../Theming/Colors.scss';

.img-container{
    height: fit-content;
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items:top;
}

.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.below {
  z-index: 1;
}
.top {
  z-index: 2;
}

.about-pic{
    object-fit:contain;
    // position: absolute;
    // top:0;
    // left:0;
    @media only screen and (max-width:768px){
        height:15rem !important;
        margin:auto;
    }
    @media only screen and (min-width:768px){
        width:33vw;
        max-width:20rem;
    }
    border-radius:25px;
    opacity: 1;
    transition: opacity 2s;
    // animation:fadeInOutHold;
    // animation-duration: 4s;
    // opacity:0;
    // animation-timing-function: ease;
    // animation-iteration-count: infinite;
}

.opacity-0{
    opacity: 0;
}

// @keyframes fadeInOutHold {
//     0% { opacity: 0; }
//     20% { opacity: 1; }
//     80% { opacity: 1; }
//     100% { opacity: 0; }
// }

#about-text{
    font-size: medium;
    text-align: left;
    max-width:25rem;
    @media screen and (min-width:768px) {
        margin-left: 2rem;
    }
    br{
        height:.25rem
    }
}