.portfolio-card-body{
    max-width:20rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    :nth-child(2){
        margin:1rem;
    }
    width:100%;
    margin:0;
    margin-top:1rem;
    border-radius: 25px !important;

    h2 {
        font-size:1rem;
    }
}

.portfolio-title{
    font-size:1.25rem !important;
    color:rgba(255,255,255,0.8);
    text-align:center;
    background: rgba(0,0,0,0.3);
    padding:1.5rem;
    // font-size:calc(1rem + max-height);
    border-radius: 1rem;
    font-family: 'Comfortaa', Arial;
    font-weight: bold !important;
    text-align: center;

    max-height:10rem;
}

.portfolio-icon{
    font-size:3rem !important;
}

.portfolio-card-button{
    width:80%;
    display:block;
    margin:auto;
    margin-bottom:.5rem;
}
